lab6/compraDeProductos/src/conf/xml-resources/web-service-references/compraproductos_1/wsdl/localhost_8080/compraDeProductos/compraproductos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://productos.compra/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://productos.compra/">

<xs:element name="comprasProductos" type="tns:comprasProductos"/>

<xs:element name="comprasProductosResponse" type="tns:comprasProductosResponse"/>

<xs:complexType name="comprasProductos">
<xs:sequence>
<xs:element name="CantidadPan" type="xs:int"/>
<xs:element name="CantidadQueso" type="xs:int"/>
<xs:element name="CantidadPlatanos" type="xs:int"/>
<xs:element name="CantidadNaranjas" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprasProductosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>